body {
    font-family: 'Robot Mono', monospace;
    margin: 0;
    background-color:rgb(238, 229, 229);
    font-size: 24px;
}

#wrapper {
    position: relative;
    overflow-x: hidden;
}

.flex__section {
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    @media (min-width: 581px){
        display: flex;
        flex-wrap: wrap;
    }
}

.flex__section__blocks {

    @media (min-width: 581px){
        display: flex;
        flex-wrap: wrap;
        width: calc(70% - 5px);
        margin-right: 5px;
    }
    
    @media (min-width: 1024px) {
        width: calc(80% - 5px);
    }

    div {
        background-color: blueviolet;
        min-height: 160px;
        border: 1px solid black;
        padding: 5px;

        @media (min-width: 581px){
            width: 100%;
        }
        @media (min-width: 1024px) {
            width: calc(100%/2 - 12px);
        }
    }  
}

aside {
        background-color: cadetblue;
        padding: 5px;
        border: 1px solid black;

        @media (min-width: 581px){
            width: calc(30% - 12px);
        }
        @media (min-width: 1024px){
            width: calc(20% - 12px);
        }     
}
